{% extends "src/views/base.html" %}

{% block header %}
    <script type="text/javascript" src="/static/board/board.js"></script>
    <link rel="stylesheet" href="/static/board/board.css">
{% endblock %}

{% block body %}
    <h2 class="title is-2">{{ name }}</h2>

    <div class="block">
        <form action="javascript:submit()">
            <div class="field">
                <input type="hidden" id="boardIdField" name="boardId" value="{{ id }}" />
                <textarea name="body" id="bodyField" class="textarea"></textarea>
            </div>
            <div class="field">
                <input type="submit" value="Post" class="button" />
            </div>
            <div class="field">
                <div class="help" id="message"></div>
            </div>
        </form>
    </div>
    
    <div class="block">
        <div id="posts">
            {% for post in posts %}
                <div class="box post" id="{{ post.id }}">
                    <div class="content">{{ post.body }}</div>
                    <button class="button is-danger deleteButton" alt="delete" onclick='deletePost("{{ post.id }}")'>×</button>
                </div>
            {% else %}
                <div id="no-posts-message"> No posts found </div>
            {% endfor %}
        </div>
    </div>

    {% if pagination.hasMore %}
    <div class="block">
        <button id="loadMore" class="button" onclick="loadMore()" cursor="{{ pagination.cursor }}">Load More</button>
    </div>
    {% endif %}
{% endblock %}