{% extends "src/views/base.html" %}

{% block header %}
    <script type="text/javascript" src="/static/board/board.js"></script>
{% endblock %}

{% block body %}
    <div class="block">
        <form action="javascript:submit()">
            <div class="field">
                <input type="hidden" id="boardIdField" name="boardId" value="{{ id }}" />
                <textarea name="body" id="bodyField" class="textarea"></textarea>
            </div>
            <div class="field">
                <input type="submit" value="Post" class="button" />
            </div>
            <div class="field">
                <div class="help" id="message"></div>
            </div>
        </form>
    </div>
    
    <div class="block">
        <div id="posts">
            {% for post in posts %}
                <div class="box">{{ post.body }}</div>
            {% else %}
                <div id="no-posts-message"> No posts found </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}