{% extends "src/views/base.html" %}

{% block header %}
    <script type="text/javascript" src="/static/boards/boards.js"></script>
{% endblock %}

{% block body %}
    <h2 class="title is-2">Boards</h2>
    <div class="block">
        <form action="javascript:submit()">
            <div class="field">
                <input type="text" name="name" id="nameField" class="input" />
            </div>
            <div class="field">
                <input type="submit" value="Create" class="button" />
            </div>
            <div class="field">
                <div class="help" id="message"></div>
            </div>
        </form>
    </div>

    <div class="content">
        <ul id="boards">
            {% for board in boards %}
                <li><a href="/board/{{ board.id }}">{{ board.name }}</a></li>
            {% else %}
                <li id="no-boards-message">No boards found</li>
            {% endfor %}
        </ul>
    </div>

    {% if pagination.hasMore %}
    <div class="block">
        <button id="load-more" class="button" onclick="loadMore()" cursor="{{ pagination.cursor }}">Load More</button>
    </div>
    {% endif %}
{% endblock %}